@import "../../style-variables.scss";

.breadcrumbs {
  font-size: 1.25rem;
  font-weight: bold;

  &_link {
    text-decoration: underline;
    transition: text-decoration-color $hoverTransition;
    &:hover {
      text-decoration-color: rgba($colorPrimary, 0.5);
    }
  }
  &_text {
    color: $colorPrimary;
  }
}